* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    z-index: 100;
    /* position: sticky; */
}

.navbar .navbar-brand {
    color: white;
}

.navbar-dark {
    /* background: rgba(255, 255, 255, 0.055); */
    background: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
    /* text-transform: uppercase; */
    font-weight: 550;
    margin-right: 10px;
}

/* header */
.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    z-index: -1;
}

#headers {
    height: 100vh;
    padding: 20% 5px;
}

#headers h1,
#headers p {
    color: white;
}

#headers p {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    margin-top: -5px;
}

/* Button */
.btn-cntc {
    border-radius: 2px;
    padding: 8px 25px;
    background-color: rgb(218, 140, 72);
    border: none;
}

.btn-cntc:hover {
    background-color: rgb(224, 152, 89);
}

#headers .btn-header {
    background-color: rgb(218, 140, 72);
    border: none;
    padding: 10px 25px;
}

#headers .btn-header:hover {
    background-color: rgb(224, 152, 89);
}

/* Image */
.img-logo {
    width: 350px;
    margin-left: 25%;
}

/* Visimisi */
.vismis {
    margin-top: 50px;
    margin-bottom: 100px;
}
.visi {
    border-right: 2px solid gray;
}

/* Article */
#article {
    margin-top: 100px;
}

.desc {
    margin-bottom: 200px;
}

.aboutus::after {
    content: "";
    border-bottom: 2px solid rgba(3, 53, 87, 0.863);
    width: 100px;
    display: block;
    margin: auto;
}

/* Mobile Screen */
@media (max-width: 576px) {
    #headers {
        margin-top: 35px;
    }
}
