* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    z-index: 100;
    /* position: sticky; */
}

.navbar .navbar-brand {
    color: white;
}

.navbar-dark {
    /* background: rgba(255, 255, 255, 0.055); */
    background: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
    /* text-transform: uppercase; */
    font-weight: 550;
    margin-right: 10px;
}

/* header */
.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url("/images/ws_front(2).jpg");
    background-size: cover;
    opacity: 0.95;
    color: white;
    z-index: -1;
}

.header::after {
    content: "";
    background-color: black;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.65;
}

#headers {
    height: 100vh;
    padding: 20% 5px;
}

#headers::before {
    content: "";
    background: black;
    opacity: 0.75;
    top: 0;
    position: absolute;
    background-size: cover;
}

#headers h1,
#headers p {
    color: white;
    /* opacity: 1; */
}

#headers p {
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    margin-top: -5px;
}

/* waves-top */
.waves-top {
    margin-top: -430px;
}

/* Button */
.btn-cntc {
    border-radius: 2px;
    padding: 8px 25px;
    background-color: rgb(218, 140, 72);
    border: none;
}

.btn-cntc:hover {
    background-color: rgb(224, 152, 89);
}

#headers .btn-header {
    background-color: rgb(218, 140, 72);
    border: none;
    padding: 10px 25px;
    /* opacity: 1 !important; */
}

#headers .btn-header:hover {
    background-color: rgb(224, 152, 89);
}

/* Image */
.img-logo {
    width: 350px;
    margin-left: 25%;
    /* margin-right: -120px; */
}

/* Visimisi */
.vismis {
    margin-top: 50px;
    margin-bottom: 100px;
}
.visi {
    border-right: 2px solid gray;
}

/* Article */
#article {
    margin-top: 100px;
    margin-bottom: 100px;
}

.desc {
    margin-bottom: 200px;
}

.card .card-title {
    text-align: center;
    font-weight: 550;
    text-transform: uppercase;
    margin: 15px;
}

.btn-readmore {
    display: block;
    width: 110px;
    margin: 15px auto;
    background: rgb(224, 152, 89);
    border: none;
}

.btn-readmore:hover {
    background: sandybrown;
}

.btn-proker {
    font-size: 1.2rem;
    padding: 5px 15px;
}

.btn-proker:hover {
    color: rgb(218, 140, 72);
}

/* About Us */
.aboutus {
    width: 90%;
    margin: auto;
    display: block;
    background-color: #f2f2f2;
}

.aboutus .aboutus-title {
}
/* .aboutus::after {
    content: "";
    border-bottom: 2px solid rgba(3, 53, 87, 0.863);
    width: 100px;
    display: block;
    margin: auto;
} */

/* Work */
.btn-make {
    background: sandybrown;
    border: none;
    border-radius: 2px !important;
}

.btn-make:hover {
    background: rgb(218, 140, 72);
}

/* Footer */
#footer {
    background: #1b0c4f;
    margin-top: -5px;
    color: white;
}

/* Mobile Screen */
@media (max-width: 576px) {
    #headers {
        margin-top: 35px;
    }
    .waves-top {
        margin-top: -210px;
    }

    /* header */
    .img-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .header-desc {
        margin-top: -70px;
    }
    #headers {
        text-align: center;
    }
    #headers h1 {
        font-size: 2.2rem;
    }
    #headers p {
        font-size: 1.8rem;
    }
}
